<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create a post</title>
    <style>
        .container{
            display: flex;
            flex-direction:column;
            width:400px;
            margin-left:45%;
           
        }
        .small-text{
            margin-bottom:20px;
            width: 100%;
            box-sizing: border-box;
            border: 2px solid #ccc;
            background-color: #f8f8f8;
            border-radius: 4px;
            height:50px;
            padding: 12px 20px;
        }

        textarea {
            width: 100%;
            height: 150px;
            padding: 12px 20px;
            box-sizing: border-box;
            border: 2px solid #ccc;
            border-radius: 4px;
            background-color: #f8f8f8;
            resize: none;
        }
        
    </style>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT" crossorigin="anonymous">
        <link rel="stylesheet" href="styles/styles.css">

</head>


<body class="gradient-background">

    <div class="d-flex justify-content-center align-items-center min-vh-100" >
        <div class="p-5 text-center bg-body-tertiary" style="border-radius:2%">
            <form action="/blogs" method="POST">
                <div class="container">
                    <h1 class="text-body-emphasis">Create a new post</h1>
                    <div class="title"><input class= "small-text" name="title" type="text" placeholder="Title" required/></div>
                    <div class="name"><input class= "small-text" name="name" type="text" placeholder="Name" required /></div>
                    <div class="content"><textarea name="textContent" class="content-input" placeholder="Post Content" required></textarea>
                    </div>
                    <div class="d-grid gap-2 col-6 mx-auto pt-3"><button type="submit" value="post" class="btn btn-primary"
                            type="button">Post</button>
                        </div>
                    </form>
                    <form action="/blogs" method="GET">
                        <button type="submit" class="btn btn-outline-success mt-3" value="Submit" type="button">Go to Your Blogs</button> </form>
                    </div>
                
                </div> </form>
            </div>
        </div> </div>
</body>
</html>
