.gradient-background {
    background: linear-gradient(300deg, #093028, #237a57, #c59a0d);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite; 
}
@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    } }
.home{
    width:50%;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    overflow-y: auto;
    height: 100vh;
    margin-left:25%;
    background-color:whitesmoke;

   
}

.hContent{
    padding: 10px 25px 10px 25px;
}



